In [56]:
#import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

#import modeling/error metric packages
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import TimeSeriesSplit

#fnc for calculating mean absolute percentage error
def mape(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [57]:
combined_avg = pd.read_csv('../raw_data/combined_avg.csv', index_col='time', parse_dates=True)

In [58]:
combined_avg.head(2)

,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,...,price day ahead,price actual,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_3h,clouds_all
time,,,,,,,,,,,,,,,,,,,,,
2014-12-31 23:00:00+00:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,...,50.1,65.41,272.491463,1016.4,82.4,2.0,135.2,0.0,0.0,0.0
2015-01-01 00:00:00+00:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,43.0,...,48.1,64.92,272.512700,1016.2,82.4,2.0,135.8,0.0,0.0,0.0

In [59]:
combined_avg.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35018 entries, 2014-12-31 23:00:00+00:00 to 2018-12-31 22:00:00+00:00
Data columns (total 28 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   generation biomass                           35018 non-null  float64
 1   generation fossil brown coal/lignite         35018 non-null  float64
 2   generation fossil gas                        35018 non-null  float64
 3   generation fossil hard coal                  35018 non-null  float64
 4   generation fossil oil                        35018 non-null  float64
 5   generation hydro pumped storage consumption  35018 non-null  float64
 6   generation hydro run-of-river and poundage   35018 non-null  float64
 7   generation hydro water reservoir             35018 non-null  float64
 8   generation nuclear                           35018 non-null  float64
 9   generation other                             35018 non-null  float64
 10  generation other renewable                   35018 non-null  float64
 11  generation solar                             35018 non-null  float64
 12  generation waste                             35018 non-null  float64
 13  generation wind onshore                      35018 non-null  float64
 14  forecast solar day ahead                     35018 non-null  float64
 15  forecast wind onshore day ahead              35018 non-null  float64
 16  total load forecast                          35018 non-null  float64
 17  total load actual                            35018 non-null  float64
 18  price day ahead                              35018 non-null  float64
 19  price actual                                 35018 non-null  float64
 20  temp                                         35018 non-null  float64
 21  pressure                                     35018 non-null  float64
 22  humidity                                     35018 non-null  float64
 23  wind_speed                                   35018 non-null  float64
 24  wind_deg                                     35018 non-null  float64
 25  rain_1h                                      35018 non-null  float64
 26  snow_3h                                      35018 non-null  float64
 27  clouds_all                                   35018 non-null  float64
dtypes: float64(28)
memory usage: 7.7 MB

In [60]:
#function to make train-test split for time-indexed data
def ts_train_test(data, target_col_name = 'total load actual', test_size=0.15, stdzd=False, cols_to_scale=None):
    df = data.copy()
    test_index = int(len(df)*(1-test_size)) #get index where test set begins
        
    X_train = df.drop([target_col_name,'total load forecast'], axis = 1).iloc[:test_index]
    y_train = df[target_col_name].iloc[:test_index]
    X_test = df.drop([target_col_name,'total load forecast'], axis = 1).iloc[test_index:]
    y_test = df[target_col_name].iloc[test_index:]
    
    # StandardScaler fit only on the training set
    if stdzd == True:
        scaler = StandardScaler()
        X_train[cols_to_scale] = scaler.fit_transform(X_train[cols_to_scale])
        X_test[cols_to_scale] = scaler.transform(X_test[cols_to_scale])
    
    return X_train, X_test, y_train, y_test

In [61]:
X_train, X_test, y_train, y_test = ts_train_test(data = combined_avg)
display(X_train.head(2),y_train.head(2))

,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,...,price day ahead,price actual,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_3h,clouds_all
time,,,,,,,,,,,,,,,,,,,,,
2014-12-31 23:00:00+00:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,...,50.1,65.41,272.491463,1016.4,82.4,2.0,135.2,0.0,0.0,0.0
2015-01-01 00:00:00+00:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,43.0,...,48.1,64.92,272.512700,1016.2,82.4,2.0,135.8,0.0,0.0,0.0

time
2014-12-31 23:00:00+00:00    25385.0
2015-01-01 00:00:00+00:00    24382.0
Name: total load actual, dtype: float64

In [62]:
#Let's engineer some categorical features for use in a regression model like weekend/weekday, winter/summer/spring-fall
df_features = combined_avg.iloc[:,16:]
df_features.head()

,total load forecast,total load actual,price day ahead,price actual,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_3h,clouds_all
time,,,,,,,,,,,,
2014-12-31 23:00:00+00:00,26118.0,25385.0,50.10,65.41,272.491463,1016.4,82.4,2.0,135.2,0.0,0.0,0.0
2015-01-01 00:00:00+00:00,24934.0,24382.0,48.10,64.92,272.512700,1016.2,82.4,2.0,135.8,0.0,0.0,0.0
2015-01-01 01:00:00+00:00,23515.0,22734.0,47.33,64.48,272.099137,1016.8,82.0,2.4,119.0,0.0,0.0,0.0
2015-01-01 02:00:00+00:00,22642.0,21286.0,42.27,59.32,272.089469,1016.6,82.0,2.4,119.2,0.0,0.0,0.0
2015-01-01 03:00:00+00:00,21785.0,20264.0,38.41,56.04,272.145900,1016.6,82.0,2.4,118.4,0.0,0.0,0.0

In [63]:
#function to calculate basic season label based on month
def season_determination(month):
    if month in [6,7,8,9]: #June-Sept = summer (highest need for cooling in Spain)
        return "summer"
    elif month in [1,2,12]: #Dec, Jan, Feb = winter (highest need for heating)
        return "winter"
    else:
        return "spring/fall" #all other months are spring or fall (similar lower needs for heating/cooling)

In [64]:
day_of_week = {0:'Monday', 1:'Tuesday', 2:'Wednesday', 3: 'Thursday', 4: 'Friday', 5:'Saturday', 6:'Sunday'}
df_features['hour'] = df_features.index.hour
df_features['weekday'] = df_features.index.weekday.map(day_of_week)
df_features['month'] = df_features.index.month #have to create month column because cannot apply() on datetimeindex
df_features['season'] = df_features.month.apply(season_determination)
df_features['nonwork-work_day'] = np.where(df_features.index.weekday > 5, 0, 1)
display(df_features.shape, df_features.head());

C:\Users\ehard\AppData\Local\Temp\ipykernel_14276\2450262965.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_features['hour'] = df_features.index.hour
C:\Users\ehard\AppData\Local\Temp\ipykernel_14276\2450262965.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_features['weekday'] = df_features.index.weekday.map(day_of_week)
C:\Users\ehard\AppData\Local\Temp\ipykernel_14276\2450262965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_features['month'] = df_features.index.month #have to create month column because cannot apply() on datetimeindex
C:\Users\ehard\AppData\Local\Temp\ipykernel_14276\2450262965.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_features['season'] = df_features.month.apply(season_determination)
C:\Users\ehard\AppData\Local\Temp\ipykernel_14276\2450262965.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_features['nonwork_work_day'] = np.where(df_features.index.weekday > 5, 0, 1)

(35018, 17)

,total load forecast,total load actual,price day ahead,price actual,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_3h,clouds_all,hour,weekday,month,season,nonwork_work_day
time,,,,,,,,,,,,,,,,,
2014-12-31 23:00:00+00:00,26118.0,25385.0,50.10,65.41,272.491463,1016.4,82.4,2.0,135.2,0.0,0.0,0.0,23,Wednesday,12,winter,1
2015-01-01 00:00:00+00:00,24934.0,24382.0,48.10,64.92,272.512700,1016.2,82.4,2.0,135.8,0.0,0.0,0.0,0,Thursday,1,winter,1
2015-01-01 01:00:00+00:00,23515.0,22734.0,47.33,64.48,272.099137,1016.8,82.0,2.4,119.0,0.0,0.0,0.0,1,Thursday,1,winter,1
2015-01-01 02:00:00+00:00,22642.0,21286.0,42.27,59.32,272.089469,1016.6,82.0,2.4,119.2,0.0,0.0,0.0,2,Thursday,1,winter,1
2015-01-01 03:00:00+00:00,21785.0,20264.0,38.41,56.04,272.145900,1016.6,82.0,2.4,118.4,0.0,0.0,0.0,3,Thursday,1,winter,1

Now that I've used the weekday and month to create the type_of_day and season columns, I probably don't really need them anymore, I'm not sure if they would be useful or not.